pandas
fastapi
SQLAlchemy==2.0.27
fastapi-sqlalchemy
Jinja2
pytest
python-dotenv
python-multipart
uvicorn
scikit-learn
pyodbc
azure-ai-vision-imageanalysis
azure.cognitiveservices.vision.computervision
pillow
streamlit
streamlit-pandas-profiling
plotly
pyzbar